<!DOCTYPE HTML>
<html>
<head>
	<title>Simple Sudoku Resolver</title>
</head>
<body>
	<form action="" method="post">
	<table>
		{% for i in range(0,9) %}
		<tr>
			{% for j in range(0,9) %}
			<td>
				<input type="text" name="l{{ i }}c{{ j }}" size="1" value="{{ grille[i][j] }}" />
				{% if j == 2 or j == 5 %}&nbsp;&nbsp;{% endif %}
				{% if i == 2 or i == 5 %}<br><br><br>{% endif %}
			{% endfor %}
		{% endfor %}
			</td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Compute !" style="align: center;" />
	</form>
</body>
</html>
